<div class="container">
  <div class="content">
    <div class="left-content">
      <div class="heading">
        <h1>
          <span>Design for </span><br>
          <span class="second">the people</span>
        </h1>
      </div>
      <div class="description">
        <br>
        A team focused on bringing business needs and client desires together in creating content
      </div>
      <div class="enter-button">
        <button class="spin circle" [routerLink]="['/Hub']">Enter</button>
      </div>
    </div>
    <div class="team-image">
      <img src="assets/img/index.jpg" alt="Us Image">
    </div>
  </div>
</div>
