* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

.z-depth:hover {
  box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}

.container {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}

.cards {
  display: flex;
  margin: 0;
  padding: 0;

  --distance: 4rem;
}

.card {
  transition: 0.3s;
  color: transparent;
}

.image {
  border-radius: 0;
  padding: 0;
  margin: 0;
  box-shadow: 4px 4px 15px 15px rgba(0, 0, 0, 0.75);
}

.image,
.card {
  border: none;
  outline: none;
}

.card:not(:first-child) {
  margin-left: -4rem;
}

.card:hover {
  transform: translateY(-1rem);
}

.card:hover ~ .card {
  transform: translateX(4rem);
}
